<nav>
  <ul>
    <!-- Menu cấp 1 -->
    <li *ngFor="let item of menuItems" class="menu-item">
      <a (click)="toggleMenu(item)" [class.has-submenu]="item.children">
        {{ item.label }}
        <span *ngIf="item.children" class="arrow">
          &#9654;
          <!-- Mũi tên -->
        </span>
      </a>

      <!-- Menu cấp 2 -->
      <ul *ngIf="item.children && item.expanded" class="submenu">
        <li *ngFor="let subItem of item.children">
          <a (click)="toggleMenu(subItem)">
            {{ subItem.label }}
            <span *ngIf="subItem.children" class="arrow"> &#9654; </span>
          </a>

          <!-- Menu cấp 3 -->
          <ul *ngIf="subItem.children && subItem.expanded" class="submenu">
            <li *ngFor="let subSubItem of subItem.children">
              <a>{{ subSubItem.label }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
