<div>
  

    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <ul >
            <li *ngFor="let user of users">
                {{user.id}} - {{user.name}} - {{user.age}}
            </li>
          </ul>

          <button type="button" class="btn btn-primary">Add</button>

          <button type="button" class="btn btn-danger">Delete</button>

    </section>
    
    <main id="main">
    
        <app-contact></app-contact>
    
    </main><!-- End #main -->
  </div>
